.delete{
    overflow:hidden; 
    position:absolute;
    //border: 1px solid #ccc;
    top: 10px;
    right: -1px;
    text-align: right;
    float: right;
    z-index: 3;
    font-size:1.65em;
    background-color: #ddd;
    padding: 0 15px 0 9px;
    color: red;
    //opacity:0.95;
    border-bottom-left-radius:26px;
    border-top-left-radius: 26px;
    background: #f5f5f5; /* Old browsers */
    background: linear-gradient(to bottom, #fff 0%, #eee 100%); /* W3C */
}

.published {
    overflow:hidden; 
    position:absolute;
    //border: 1px solid #ccc;
    bottom: 20px;
    right: -1px;
    text-align: right;
    float: right;
    z-index: 2;
    font-size:0.65em;
    background-color: #ddd;
    padding: 0 15px 0 9px;
    color: #111;
    opacity:0.95;
    border-bottom-left-radius:6px;
    border-top-left-radius: 6px;
    background: #f5f5f5; /* Old browsers */
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%); /* W3C */
  }

.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle;
}

.fancybox-title-inside-wrap {
    border-top: 1px solid #ccc;
    //text-align: center;
}

#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

#sortable li { 
  margin: 3px 3px 3px 0;
  padding: 5px; 
  float: left;  
  font-size: 4em; 
  text-align: center; 
  width:22%; /*tested in iPad and 1080px;*/
  max-width: 300px;
  min-width: 140px;
}
  
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none;
    background-color: white;
    font-weight: normal;
    color: #555555;
}

a.fancybox img{
    /*width: 240px; height: 180px;
    max-width: 100%; 
    height: auto*/
}

/*corner ribbon*/
.wrapper 
{
  margin: 50px auto;
  /*width: 250px;
  height: 370px;*/
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1;
}
.ribbon-outer
{
 width:105px;
 height:108px;
 overflow:hidden; 
 position:absolute;
 top: -2px;
  left: -2px;
}
.ribbon-inner
{
font: bold 18px Sans-Serif;
background: rgb(255,175,75); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */ 
text-align:center; 
 color:#FFFFFF;  
  top:25px;
  left:-48px;
  width:170px;
 padding:5px;  
 position:relative;  
-webkit-transform: rotate(-45deg);
}
.ribbon-inner:before, .ribbon-inner:after {
  content: "";
  border-top:   3px solid #CC7A29;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: 3px;
}

.ribbon-inner:before {
  left: 0;
}
.ribbon-inner:after {
  right: 0;
}